body{
	> .container-content{
		> .content-line{
			@include make-row;	
			> .nav-container{
				@include make-xs-column(8);
				@include make-sm-column(10);
				@include make-md-column(10);
				@include make-xs-column-offset(2);
				@include make-sm-column-offset(1);
				@include make-md-column-offset(1);
				padding: 0;

				> .navbar-default{
					min-height:60px;
					background: #c3363d;
					background: -moz-linear-gradient(top, #c3363d 0%, #c15155 60%, #c15d60 100%);
					background: -webkit-linear-gradient(top, #c3363d 0%,#c15155 60%,#c15d60 100%);
					background: linear-gradient(to bottom, #c3363d 0%,#c15155 60%,#c15d60 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3363d', endColorstr='#c15d60',GradientType=0 );
					border-radius: 0;
					border:none;

					> p{
						color: $container-color;
						font-weight: normal;
						margin-bottom: 5px;				
					}

					span.paragraph-button{
						margin-right: 5px;
						margin-top:-60px;
						margin-bottom:0px !important;
						float: right;

						>a.btn-MazeBank{
							width: 155px;
							height:50px;
							margin: 3px 0;
						}
					}

					@media screen and (max-width: 800px) {
				    	span.paragraph-button {
				        	float:none;
				        	text-align: center !important;
				        	margin:0 60px !important;
				       	}
				    }

					.user{
						padding-left: 25px;
						padding-top: 5px;
						margin-bottom: 0;	
						text-align: left;
					}
				}
			}			
		}
	}
}